/* 
    note:
        styles are grouped by class, and spaced by parental relationship. 
            shared definitions and responsive overrides are not spaced like this, and are always placed below singluar definitions.

        3 lines after final definition in a class
        2 lines between definitions if not parent/child 
        1 line between definitions if parent/child 
        0 lines between definitions if :hover or if otherwise very related 

    class list:
        NavBar -> NavMenu -> Footer

        
    generic styles     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    separate for organization
*/
.textContainer, .linkContainer{
    display: flex;
    justify-content: center;
}



/* 
    NavBar styles    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.barContainer{
    /* background-color: rgb(187, 187, 187); */
    display: grid;
    grid-template-columns: 0.55fr 0.45fr;
    align-items: center;
    margin: 2rem 0 0 0;
}

.barPagesBox{
    /* background-color: greenyellow; */
    display: flex;
    justify-content: flex-end;
}

.barPages{
    /* background-color: red; */
    background-color: rgb(99, 99, 99);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    gap: 3rem;
    border-radius: 30px;
}

.barLink{
    /* background-color: yellow; */
    text-align: center;
    border-radius: 15px;
    padding: 0 0.3rem;
}

.barLink a{
    color: rgb(255, 255, 255);
}
.barLink a:hover{
    color: rgb(0, 0, 0);
}


.barContactBox{
    /* background-color: purple; */
    display: flex;
}

.barContact{
    /* background-color: green; */
    background-color: rgb(187, 187, 187);
    margin: 0 0 0 100px;
    border-radius: 10px;
    width: 170px;
    text-align: center;
    border: 5px solid black;
    padding: 0.3rem 0;
}

.barContact a{
    color: rgb(0, 0, 0);
}
.barContact a:hover{
    color: rgb(255, 255, 255);
}


.barLink a, .barContact a{
    font-size: 1.5rem;
    transition: color 0.15s ease;
}

.barLink a:hover, .barContact a:hover{
    transition: color 0.15s ease;
}



/* 
    NavBar responsive definitions    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
    initial definitions are for the largest screens.
    these overrides fit the bar on screens too large for NavMenu

    bar/menu switch is defined inside NavMenu
 */
@media screen and (max-width: 999px) {
    .barPages{
        gap: 1.5rem;
    }

    .barContact{
        margin: 0 0 0 75px;
    }

    .barLink a, .barContact a{
        font-size: 1.4rem;
    }    
}
@media screen and (max-width: 749px) {
    .barContainer{
        grid-template-columns: 0.6fr 0.4fr;
    }   

    .barPages{
        gap: 1rem;
    }

    .barContact{
        margin: 0 0 0 15px;
    }

    .barLink a, .barContact a{
        font-size: 1.3rem;
    }
} 
@media screen and (max-width: 619px) {
    .barContainer{
        grid-template-columns: 0.625fr 0.375fr;
    }

    .barPages{
        gap: 0.5rem;
    }

    .barContact{
        margin: 0 0 0 10px;
    }

}
@media screen and (max-width: 549px) {
    .barContainer{
        grid-template-columns: 0.675fr 0.325fr;
    }

    .barPages{
        gap: 0.5rem;
    }

    .barContact{
        width: 150px;
        margin: 0 0 0 5px;
    }

}



/* 
    NavMenu styles        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.menuContainer{
    /* background-color: rgb(187, 187, 187); */
    background-color: rgb(99, 99, 99);
    display: none;
}

.menuButton{
    /* background-color: orange;*/
    background-color: rgb(187, 187, 187);
    width: fit-content;
    height: 55px;
    margin: 2rem 0 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}


.menuContactBox{
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
}

.menuContact{
    /* background-color: red; */
    background-color: rgb(187,187,187);
    margin: 1.8rem 2rem 1rem 0rem;
    border: 5px solid black;
    border-radius: 10px;
    padding: 0.3rem 0;
    width: 170px;
    text-align: center;
}


.menuPagesBox{
    /* background-color: purple; */
    background-color: white;
    padding: 2rem 0;
    grid-column: 1 / 3;
}

.menuPages{
    /* background-color: green; */
    background-color: rgb(99, 99, 99);
    display: flex;
    flex-direction: column;
}

.menuLink{
    /* background-color: rgb(21, 255, 0); */
    background-color: inherit;
    padding: 0.5rem 0;
}

.menuLink a{
    /* background-color: black; */
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 0 0 0 2rem;
}
.menuLink a:hover{
    color: rgb(0, 0, 0);
}


.menuContact a{
    /* background-color: rgb(187,187,187); */
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}
.menuContact a:hover{
    color: rgb(255, 255, 255);
}


.menuLink a, .menuContact a{
    transition: color 0.15s ease;
}
.menuLink a:hover, .menuContact a:hover{
    transition: color 0.15s ease;
}


/* 
    NavMenu responsive definitions    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
    initial definitions are for small screens 
    for even smaller screens, need to increase the distance between the menu buttons 

    at <= 519px, switch to menu display
 */
@media screen and (max-width: 349px){
    .menuContact{
        margin: 1.75rem 1rem 1rem 0rem;
    }

    .menuButton{
        margin: 2rem 0 1rem 1rem;
    }
    
}


@media screen and (max-width: 519px) {
    .barContainer{
        display: none;
    }

    .menuContainer{
        display: grid;
        grid-template-columns: auto auto;
    }
}



 /* 
    footer styles       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 
 */
 .footContainer{
    /* background-color: rgb(149, 149, 149); */
    position: relative;
    display: grid;
}

.footContainer p {
    /* background-color: brown; */
    margin: 0.5rem 0 0.75rem 0;
    font-size: 0.8rem;
}


.footPagesBox{
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.footPages{
    /* background-color: rgb(204, 255, 0); */
    background-color: rgb(99, 99, 99);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0.75rem 0 0 0;
    gap: 2.5rem;
    padding: 10px;
    border-radius: 10px;
}


.footLink{
    /* background-color: rgb(0, 0, 0); */
    text-align: center;
    font-size: 1.15rem;
    border-radius: 5px;
    padding: 0 0.2rem;
}

.footLink a{
    /* background-color: rgb(162, 76, 202); */
    color: rgb(255, 255, 255);
    transition: color 0.15s ease;
}
.footLink a:hover{
    /* color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    transition: color 0.15s ease;
}

.footContactBox{
    /* background-color: rgb(255, 0, 179); */
    display: flex;
    justify-content: center;
}

.footContact{
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3rem;
    margin: 0.75rem 0 0 0;
}

.footContact a{
    /* background-color: rgb(4, 255, 0); */
    height: 50px;
    color: rgb(99, 99, 99);
    transition: color 0.2s ease;
}
.footContact a :hover{
    color: black;
    transition: color 0.2s ease;
}



/* 
    Footer responsive definitions    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    
    initial definitions are for most screens 
    for smaller mobile screens, need to decrease spacing around and between elements

 */
@media screen and (max-width: 349px) {
    .footPages{
        gap: 1rem;
        padding: 10px 0px 10px 0px;
    }

    .footLink{
        padding: 0 0.1rem;
    }
    
}
