@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  color:red;
}

img {
  max-width: 100%;
  display: block;
}

/* 
    CSS overrides to react-image-gallery
    height of entire gallery now depends on .gallery in layout.module.css
    certain things are specifically sized; otherwise inherit height from parent 
*/

.image-gallery, .image-gallery-content, .image-gallery-slide-wrapper, 
.image-gallery-swipe, .image-gallery-slides, .image-gallery-slide,
.image-gallery-image, .image-gallery-thumbnails-wrapper, .image-gallery-thumbnails,
.image-gallery-thumbnail, .image-gallery-thumbnail-inner, .image-gallery-thumbnail-image
{
    height: 100%;
}

/* button height, needed to be changed specifically*/
.image-gallery-svg{
    height: 50px !important;
}

/* 
    translation disabled because it broke with differently sized thumbnails
    also, needs specific height separate from .gallery size, 100px seems to be fine 
*/
.image-gallery-thumbnails-container{
    height: 100px;
    transform: translate3d(0px, 0px, 0px) !important;
}

/* width overrides to allow for differently sized thumbnails */
.image-gallery-thumbnail, .image-gallery-thumbnail-inner, .image-gallery-thumbnail-image{
    width: auto;
}












