@import '~react-image-gallery/styles/css/image-gallery.css';

html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    letter-spacing: 0.01rem;
}


* {
    box-sizing: border-box;
}


h1, h2, h3, p {
  cursor: default;  
}


a {
    color: #0070f3;
    text-decoration: none;
    font-weight: 500;
}
a:hover {
    color: red;
}


img {
    max-width: 100%;
    display: block;
}

/* 
    CSS overrides to react-image-gallery
    height of top-half of gallery determined in layout.module.css (see comment)
    
    difficult to work with, might be redundant lines here

    note:
        NOT organized like pages or layout.module, spacing implies nothing 

        hierarchy:
            ...
            image-gallery-content               (div)
                image-gallery-slide-wrapper     (div)    
                    side button
                        icon
                            svg
                    side button
                        icon
                            svg
                    image-gallery-swipe                          
                        image-gallery-slides            <-- big image display area
                    fullscreen button
                        icon
                            svg
                thumbnails-wrapper              (div)   <-- small image list display area
                    thumbnails                  (div)
                        thumbnails-container    (nav)
                            thumbnail           (button)    

    big changes to gallery design == several overrides to several elements
    need to use flex on a few parents to set borders and backgrounds on children correctly
*/

.image-gallery,
.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-swipe,
.image-gallery-slides,
.image-gallery-slide,
.image-gallery-image,
.image-gallery-thumbnails,
.image-gallery-thumbnail-inner,
.image-gallery-thumbnail-image {
    height: 100% !important;
}

.image-gallery-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

/*
    mobile devices can't see image list when fullscreen w/o scroll
 */
.image-gallery-content.fullscreen{
    overflow-y: auto;
}

/* 
    since parent is fitting child to have border, buttons are static 
        previous approach with margins didnt work because buttons positioned using top/left/right/bottom

    shift left/right buttons visibly offscreen but add padding to actual button so content isnt blocked 
*/
.image-gallery-icon{
    /* background-color: lawngreen; */
    /* outline: 1px solid lawngreen; */
    padding: 0 !important;
}

.image-gallery-svg {
    /* background-color: red; */
    /* outline: 1px solid red; */
    width: 45px !important;
    height: fit-content !important;
}

.image-gallery-fullscreen-button{
    bottom: 10px !important;
    right: 10px !important;
}

.image-gallery-slides{
    /* background-color: aqua; */
    background-color: rgb(187,187,187);
    padding: 5px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    /* width: fit-content !important; */
}

.image-gallery-thumbnails-wrapper{
    background-color: rgb(99,99,99) !important;
    border-radius: 10px;
    border: 5px solid rgb(0, 0, 0) !important;
    padding: 0 3px;
    height: 310px !important;
    align-self: center;
}

/* 
    needs to be this wide to fit pictures, and needs overflow for many pictures
    yes, the scroll is supposed here and not in container
*/
.image-gallery-thumbnails{
    width: fit-content !important;
    overflow-y: auto !important;
}

/* 
    not using a horizontal scroll (because it just felt terrible on mobile)
    instead is a grid display with vertical scroll for projects with >6 pictures
*/
.image-gallery-thumbnails-container {
    transform: translate3d(0px, 0px, 0px) !important;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    justify-items: center !important;
    cursor: default !important;
}

/* 
    need to specify what is actually clickable
    otherwise, entire container is displayed as clickable
*/
.image-gallery-thumbnails-container button {
    cursor: pointer !important;
}

/* 
    custom highlight for currently displayed picture
*/
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    border: 4px solid rgb(187,187,187) !important;
    border-radius: 5px;
}

/* 
    need to specify new size for thumbnail images (actual image fills this)
    transition override is for highlighting (0.2s default)
*/
.image-gallery-thumbnail {
    height: 150px !important;
    transition-duration: 0.4s !important;
}

/* width overrides to allow for differently sized thumbnails */
.image-gallery-thumbnail,
.image-gallery-thumbnail-inner,
.image-gallery-thumbnail-image {
    width: auto !important;
}


/* 
    initial overrides are for the largest screens, these overrides are for smaller and smaller screen sizes

    need to reduce image sizes and parent height which resizes the entire gallery accordingly
        'parent' is the entire lower half of gallery, so need to adjust page margin (see project class in pages.module.css)

    need to adjust button positioning, padding, and size

*/

@media screen and (max-width: 850px) {
    .image-gallery-thumbnails-wrapper {
        height: 210px !important;
    }

    .image-gallery-thumbnail {
        height: 125px !important;
    }
}
@media screen and (max-width: 720px) {
    .image-gallery-svg{
        width: 40px !important;
    }

    .image-gallery-thumbnails-wrapper {
        height: 180px !important;
    }

    .image-gallery-thumbnail {
        height: 100px !important;
    }
}
@media screen and (max-width: 560px) {
    .image-gallery-svg{
        width: 35px !important;
    }

    .image-gallery-thumbnails-wrapper {
        height: 160px !important;
    }

    .image-gallery-thumbnail {
        height: 75px !important;
    }
}
@media screen and (max-width: 429px) {
    .image-gallery-svg{
        width: 30px !important;
    }

}
@media screen and (max-width: 319px) {
    .image-gallery-svg{
        width: 25px !important;
    }
}

