.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

/* idk about the stuff above this  */


.navContainer{
    background-color: rgb(187, 187, 187);
}

.navPages{
    background-color: red;
}

.navLinkFocused{
    background-color: aqua;
}

.navLink{
    background-color: inherit;
}

.navContact{
    background-color: green;
}



 /* 
    footer styles 
 
 */

 .footContainer{
    position: relative;
    background-color: rgb(149, 149, 149);
}

.footPages{
    background-color: rgb(204, 255, 0);
}

.footLink{
    background-color: inherit;
}

.footContact{
    background-color: green;
}

.footIcons{
    background-color: blue;
}

.footIcons a{
    color: rgb(99, 99, 99);
    transition: color 0.2s ease;
}

.footIcons a :hover{
    color: black;
    transition: color 0.2s ease;
}
